.row{
  margin: inherit !important;
}

.open-modal{
	position: fixed;
	bottom: 30px;
    right: 30px;
    font-weight: bold;
}

#tview{
	display:none;
}

.card-header{
	font-weight: bold;
}

.bg-white{
	background-color: #fff;
	box-shadow: 0 0 5px black;
}

.nav-link{
	font-weight: bold;
	font-size: 14px;
}

.svg-inline--fa{
	color: #fff !important;
}